body{
    background-color: #1C1C1C;
}
a{
    color: #FFD700;


}
h2{
    text-align: center;
    background-color: #8B0000;
    border-radius: 10px;
}
h1,h2,h3{
    color:#7FFF00;

}
h1{
    text-align: center;


}

.textoIntroduccion{
    font-size: 20px;
    color: gray;
    text-align: none;
    margin: 30px;
    width: 600px;
    
    



}
header{

    background-color: #8B0000;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    
    
}


.ola{

    display: flex;
    
    background-color: #8B0000;
    border-radius:10px;
    flex-wrap: wrap;

}


ul{
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;

    
    

}
nav ul li{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color:#1C1C1C ;
    border-radius: 30px;
    


    
    
}
nav ul li a{

    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul li:hover{

    background-color: #7FFF00;
    

}

nav ul:hover{

    color: #1C1C1C;

}
nav ul li a:hover{

    color: #1C1C1C;
}
.imagen{
    margin: auto;
}

footer {
    color:#FFD700;
    position: relative;
    bottom: 0;
}

footer p{

    font-size: 15px;
}

@media screen and (max-width: 550px){

    nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    background-color: #8B0000;
    padding-bottom: 10px;
    align-items: center;
    
    
}

    main{
        margin-top: 150px;
    }




   

}
/* 1. Arreglar el footer 
   2.Arreglar media Screen con el nav
   3. Terminar la pagina personajes
   


*/