body{
    background-color: #1C1C1C;
}
a{
    color: #FFD700;
}
h1,h2,h3{
    color:#7FFF00;
}
h2{
    text-align: center;
    background-color: #8B0000;
    border-radius: 10px;
}

h1{
    text-align: center;


}
p{
    font-size: 20px;
    color: gray;
    

}

header{

    background-color: #8B0000;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    

}

nav ul li{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color:#1C1C1C ;
    border-radius: 30px;
    


    
    
}
nav ul li a{

    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul li:hover{

    background-color: #7FFF00;
    

}
nav ul:hover{

    color: #1C1C1C;
}
.imagenProtagonistas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.imagenBilly{
    margin: 30px;
}
.textoConImagen{
    display: flex;
}
.titulobilly{
    align-items: center;
    margin: 30px;
    height: 20px;
}
.textobilly{
    margin: 30px;

}


footer p{
    color:#FFD700;
    font-size: 15px;
}

@media screen and (max-width: 550px){

    nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    

}

}
    