.capitulo{
    display: flex;


    background:#8B0000;
    border-radius: 30px;
}
.capitulos{

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tituloPrincipal{

    background-color: #8B0000;
    width: 100%;
}

body{
    display: flex;

    flex-direction: column;
    gap: 70px;
}
header{

    background-color: #8B0000;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    
    
}

@media screen and (max-width: 550px){

    nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    background-color: #8B0000;
    padding-bottom: 10px;
    align-items: center;
    
    
}

    main{
    margin-top: 150px;
    }
.capitulo{


    display: flex;
    flex-direction: column;
}
}